[submodule "framework"]
	path = framework
	url = https://github.com/umicom-foundation/umicom-framework.git
	branch = main
[submodule "applications/studio"]
	path = applications/studio
	url = https://github.com/umicom-foundation/umicom-studio-ide-module.git
	branch = main
[submodule "applications/trader"]
	path = applications/trader
	url = https://github.com/umicom-foundation/umicom-trader-module.git
	branch = main
[submodule "applications/tms"]
	path = applications/tms
	url = https://github.com/umicom-foundation/umicom-tms-module.git
	branch = main
[submodule "applications/llm"]
	path = applications/llm
	url = https://github.com/umicom-foundation/umicom-llm-module.git
	branch = main
[submodule "applications/bank"]
	path = applications/bank
	url = https://github.com/umicom-foundation/umicom-bank-module.git
	branch = main
[submodule "applications/exchange"]
	path = applications/exchange
	url = https://github.com/umicom-foundation/umicom-exchange-module.git
	branch = main
